*.jar
*.class

.cpcache/
.rebl/

.eastwood

classes/
target/
.lein-deps-sum
.lein-failures
.lein-repl-history
.lein-cljsbuild-repl
.lein-plugins/
repl-port

.nrepl-port
.nrepl-history

\#*\#
.\#*
tmp/
*~
*.tmp
*.bak

*/.idea
*/.classpath
*/.project
*/.settings

.DS_Store

*.log
logs/

autodoc/
docs
codox
